.PAJKvR_zNlh {
    position: relative;
    margin-top: 2.5rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.P2kZVWdh8WO {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.P3TdpH5BzCl {
    padding: 0 8px;
}
.P2Z0_LAntsQ {
    width: 224px;
    position: fixed;
    border-radius: 2px;
    padding: 1.5rem 4px;
    margin: 0 0 1rem;
    background-color: rgba(7, 4, 4, 0.5);
}
.P1RFQ0uBFAS {
    display: block;
    position: relative;
    width: 125px;
    height: 125px;
    margin: 0 auto 1.5rem;
    -webkit-transition: opacity 0.11s;
    transition: opacity 0.11s;
    text-align: center;
}
.PLVjJ5u5l9r {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.P1ON7QXR89N {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    border: none;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(#000));
    background: linear-gradient(
180deg
, rgba(0, 0, 0, 0.4), #000);
    color: #fff;
    font-size: 14px;
    line-height: 1rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
    padding: 30px 0 0;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.11s;
    transition: opacity 0.11s;
}
.P3cpmSAypvy {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    top: -0.5rem;
    padding: 0.25rem 0.5rem;
    content: attr(data-level);
    background-color: #000;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    color: #ffcc02;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.P21Xnr0q7ex {
    display: block;
    font-size: 20px;
    line-height: 1rem;
    color: #fff;
    font-weight: 500;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    cursor: default;
    margin-bottom: 0.5rem;
}
.PE-88ARpv3l {
    display: block;
    position: relative;
    margin: 0 1.3rem;
}
.P324uRd5N9t {
    display: block;
    position: relative;
    background-color: #4c4c4c;
    width: 100%;
    height: 6px;
    overflow: hidden;
    border-radius: 2px;
}
.P324uRd5N9t::after {
    content: '';
    display: block;
    position: relative;
    background-image: -webkit-gradient(linear, right top, left top, from(#f6cc2e), to(#e89c15));
    background-image: linear-gradient(
270deg
, #f6cc2e, #e89c15);
    width: 100%;
    height: 100%;
}
.P20BnalrwTt {
    display: block;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 1rem;
    color: #8c8c8c;
}
.P1Tz-7X4jcH {
    position: fixed;
    width: 50%;
    margin-left: 460px;
    left: 0;
    top: 2.7rem;
    height: 2rem;
    z-index: 49;
    background-color: rgba(7, 4, 4, 0.7);
    -webkit-backdrop-filter: blur(0.95px);
    backdrop-filter: blur(0.95px);
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.P2kZVWdh8WO {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.P1VbPwnef4W {
    width: 30%;
}
.PC8s01VoGOh {
    width: 70%;
}
.P3OV9NBHuG8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.P1XrhOGFL58.P3D2_1Efl8x, .P1XrhOGFL58:hover {
    color: #fff;
}
.P1XrhOGFL58 {
    display: block;
    position: relative;
    padding: 0.5rem 10px;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1rem;
    margin: 0 6px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.P1XrhOGFL58.P3D2_1Efl8x::after, .P1XrhOGFL58:hover::after {
    background-color: #00a3ff;
}
.P1XrhOGFL58::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.P1XrhOGFL58 {
    display: block;
    position: relative;
    padding: 0.5rem 10px;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1rem;
    margin: 0 6px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
a {
    color: #bbb;
    text-decoration: none;
}
